.footer-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 80px;
  background: #f3f3f3;
  gap: 60px;
}

.cta-left {
  flex: 1;
}

.cta-left h2 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
}
.cta-left p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555;
}

.cta-buttons {
  display: flex;
  gap: auto;
}

.contact-btn {
  padding: 14px 30px;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  border-radius: 50px;
 
}

.phone-btn {
  padding: 14px 30px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
   margin: 25px 0;
}

.cta-right {
  flex: 1;
  position: relative;   /* IMPORTANT */
  height: 450px;
  background-size: 700px;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-bg-height {
  height: 500px;
}

.cta-right .newsletter-box {
  position: absolute;   /* KEY LINE */
  right: 40px;          /* move from right */
  top: 50%;
  transform: translateY(-50%); /* vertical center */

  background: #fff;
  padding: 40px;
  width: 400px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}
.cta-right .newsletter-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
.cta-right .newsletter-box p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.cta-right .newsletter-input {
  display: flex;
}


.cta-right .newsletter-input input {
  flex: 1;
  padding: 14px;
  border: 1px solid #ddd;
  outline: none;
}


.cta-right .newsletter-input button {
  padding: 14px 30px;
  background: #e0b86c;
  border: none;
  cursor: pointer;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  background: #f9f9f9;
}

.footer-col {
  width: 23%;
}

.footer-col h3,
.footer-col h4 {
  margin-bottom: 20px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}