.services {
  background: #f3f3f3;
  padding: 100px 8%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 60px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.card {
  background: #dcdcdc;
  border-radius: 25px;
  padding: 40px 30px;
  text-align: left;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.icon-circle {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.icon-circle img {
  width: 28px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  color: #444;
  line-height: 1.6;
}