.mid-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 100px;
  background-color: #b9b9b9; 
}

.mid-left {
  flex: 1;
}

.mid-left h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.mid-left p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 500px;
}

.mid-left button {
  padding: 12px 30px;
  border: none;
  background-color: #443f3f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.mid-left button:hover {
  background-color: #e05555;
}

.mid-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.mid-right img {
  width: 90%;
  max-width: 500px;
  border-radius: 16px;
  object-fit: cover;
}